/* Hide scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  height: 0;
  width: 0; /* Set width to 0 to hide scrollbar */
}

/* Optional: customize scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
