.dropdown-container {
    /* margin-bottom: 20px; */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
 /* Adjust the width as needed */
  }
  
  .dropdown-header {
    cursor: pointer;
    padding: 8px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
  }
  
  .dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
  
  .dropdown-list li {
    padding: 8px;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
    }
  }